/* Login.css */
.Login-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: #191919;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.Login-logo {
  margin-top: -30px;
}

.Login-logo img {
  width: 250px; /* 로고 크기 */
  height: auto;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 40px;
}

.content-box {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  border-radius: 10px;
}

.input-email,
.input-pw,
.input-username {
  all: unset; /* 기본 속성을 초기화 */
  display: block;
  width: 350px;
  height: 50px;
  background: none;
  border: 1px solid;
  border-radius: 30px;
  margin-bottom: 20px;
  padding: 10px;
  color: white;
  font-size: 16px;
  box-sizing: border-box;
}

.input-email::placeholder,
.input-pw::placeholder,
.input-username::placeholder {
  color: #8d8b8b;
  font-size: 16px;
}

.input-email:hover,
.input-pw:hover,
.input-email:focus,
.input-pw:focus,
.input-username:hover,
.input-username:focus {
  border-color: #fd32a6;
  transition: 1s;
}

.Login-button-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.login-button:hover,
.login-button:focus {
  background-color: #ff74c3;
  transition: 1s;
}

.login-button {
  width: 350px;
  height: 50px;
  padding: 12px;
  background-color: #fd32a6;
  color: black;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.login-button-icon {
  margin-top: -25px;
  width: 70px; /* 아이콘 크기 */
  height: 70px;
  margin-right: 8px; /* 텍스트와의 간격 */
  object-fit: contain; /* 이미지 비율 유지 */
}

.go-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 40px;
}

.no {
  font-size: 14px;
  color: #8d8b8b; /* 연한 색상 */
}

.go {
  font-size: 14px;
  color: white;
  text-decoration: underline; /* 밑줄 추가 */
  cursor: pointer; /* 클릭 가능하도록 설정 (옵션) */
  transition: color 0.3s; /* 색상 전환 효과 */
}

.go:hover {
  color: #fd32a6; /* 호버 시 색상 변경 */
}

.error{
    position: absolute;
    text-align: center;
    color: red;
    font-size: 12px;
    padding-bottom: 10px;
    width: 350px;
    margin-top: -30px;
}

.succes{
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding-bottom: 10px;
    width: 350px;
    margin-top: -30px;

}
