

/*Header*/
.header-size-box{
  width: 100%;
  height: 100px;
}

.header {
  width: 100%;
  height: 100px;
  padding: 10px 0;
  background-color: #191919; /* 헤더 배경 설정 */
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.header-content-box{
  display: flex;
  align-items: center;
  width: 70%;
}

.logo img {
    display: flex;
    height: 90px;
    width: 95px;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
}

/* 검색 바 스타일 */
.search-bar {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  /* 검색 입력 필드 */
  .search-input-text {
    padding: 15px;
    background-color: #272727;
    border-radius: 5px;
    border: solid #272727;
    font-size: 16px;
    outline: none;
    width: 300px;
    height: 37px;
    margin-left: 10px;
    color: #ffff;
  }

  /* 검색 버튼 스타일 */
  .search-bar
  .search-button {
    padding: 15px;
    height: 37px;
    background-color: #272727;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -4px;
    margin-right: 220px;
  }
  
 
  .search-icon {
    width: 19px; /* 아이콘 너비 */
    height: 23px; /* 아이콘 높이 */
  }
  
  .login-button{
    color: #8D8B8B;
  }
 
/*Header*/



/*-------------------------------------*/



/*main*/

/* 최상위 컨테이너 스타일 */
.container {
  width: 70%;
  flex-direction: column;
  background-color: #191919;
}

/* 타이틀 스타일 */
.title {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

/* 미니 타이틀 스타일 */
.mini-title {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  padding-top: 20px;
}

/* 화살표 버튼 스타일 */
.btn-box {
  padding: 10px;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.arrow-btn {
  border-radius: 50%; /* 버튼을 원 모양으로 변경 */
  background-color: rgba(68, 68, 68, 0.25); /* 불투명도 25% */
  border: none;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  font-size: 30px;
  width: 35px; /* 버튼의 너비 */
  height: 35px; /* 버튼의 높이 */
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #525252;
    color: #ffffff;
  }
}

.arrow-btn div {
  margin-top: -5px;
  margin-left: -1px;
}

/* 리스트 스타일 */
.list {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
  padding-bottom: 20px;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #2e2e2e;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #191919;
  }
}

.album {
  min-width: 200px;
  height: 200px;
  background-color: #333;
  border-radius: 15px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
}

/* 인기차트 스타일 */
.popular-chart {
  flex-direction: column;
  padding-top: 20px
}

.popular-bar-wrapper {
  display: flex;
  justify-content: center;
}

.popular-bar {
  display: flex;
  color: #696969;
  display: flex;
  width: 95%;
}

.popular-bar-menu {
  display: flex;
  width: 86%;
  justify-content: space-between;
}

.popular-bar-text {
  margin-right: 40px;
}

.divider {
  border: none;
  border-top: 1px solid #696969;
  width: 100%;
  margin-top: 10px;
}

.song-list-wrapper {
  display: flex;
  justify-content: center;
}

.song-list {
  margin-top: 20px;
  width: 98%;
}

.song-item {
  display: flex;
  padding: 20px 10px;
  display: flex;
  /* justify-content: space-between; */
}

.list-num {
  font-weight: bold;
  color: #696969;
  padding: 4px;
}

.album-box{
  display: flex;
  padding: 0 160px 0 32px;
}

.album-image {
  width: 40px; /* 이미지 크기 (정사각형) */
  height: 40px;
  border-radius: 5px;
  object-fit: cover; /* 이미지가 정사각형에 맞춰 잘리도록 설정 */
}

.album-title-box{
  padding: 0 140px 0 16px;

}

.list-subtitle {
  color: #fff;
}

.list-singer {
  font-size: 14px;
  color: #696969;
}

.list-album {
  color: #696969;
  padding-right: 352px;
}

.list-time {
  text-align: right;
  color: #696969;
}
/*main*/





/*-------------------------------------*/






/*Drawer*/
/* 헤더 스타일 */
.toggle-header {
  position: fixed;
  top: 25px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 20; /* 드로어보다 위에 오도록 설정 */
}

/* 왼쪽 드로어 스타일 */
.left-drawer {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  background-color: #191919;
  color: white;
  transition: transform 0.3s ease;
  padding: 20px;
  font-size: 16px;
}

.drawer-left{
  margin-top: 70px
}

/* 왼쪽 드로어 토글 버튼 스타일 */
.left-drawer-toggle-btn {
  color: white;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #191919;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 20px;
    height: 20px;
    fill: #696969;
  }
}

/* 왼쪽 드로어 메뉴 버튼 스타일 */
.left-drawer-btn {
  text-align: left;
  margin-left: 20px;
  padding: 16px;
  border-radius: 5px;
  margin-top: 5px;
  width: 95%;
  height: 50px;
  cursor: pointer;
  color: #8d8b8b;
  font-weight: bold;
  font-size: 14px;

  &:hover {
    background-color: #272727;
    color: white;
  }
  transition: 0.3s;
}

.left-drawer-menu-btn{
  text-align: left;
  margin-top: 15px;
  margin-left: 15px;
  font-weight: bold;
}

/* 오른쪽 드로어 스타일 */
.right-drawer {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 240px;
  height: 100%;
  background-color: #1e1e1e;
  color: white;
  transition: transform 0.3s ease;
  padding: 20px;
}

/* 오른쪽 드로어 토글 버튼 스타일 */
.right-drawer-toggle-btn {
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 20px;
    height: 20px;
    fill: #696969;
  }
}

/*오른쪽 드로어 내부 프로필 리스트 스타일*/
.profile-list {
  list-style: none;
  padding: 0;
  text-align: left;
}

.profile-list li {
  margin-top: 70px;
  margin-bottom: -40px;
  display: flex;
  align-items: center;
}

.profile-list img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}


.profile-list p {
  margin: 0;
  font-size: 14px;
}

.profile-list span {
  font-size: 16px;
  font-weight: bold;
}


/*Drawer*/