.Select-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #191919;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin-bottom: 200px;
}


.select-logo {
    margin-top: -30px;
}

.select-logo img {
    width: 250px;
    height: auto;
}
.select-title{
margin-top: -10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.artist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto; 
}

.artist-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
}

/* 아티스트 앨범 박스 */
.artist-album-box {
    color: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px; 
    height: 200px;
    text-align: center;
    border:none;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* 앨범 이미지 스타일 */
.artist-album-cover img {
    width: 200px; /* 앨범 커버 이미지 크기 */
    height: 200px;
    object-fit: cover; /* 이미지 비율 유지 */
}

/* 아티스트 이름 스타일 */
.artist-title-box {
    margin-top: 15px;
}

.artist-singer {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff; /* 흰색 텍스트 */
}

.artist-album-box:hover {
    transform: translateY(-10px); /* 위로 살짝 떠오르는 효과 */
    border-color: #FD32A6;
}


.artist-album-box.selected {
    border: 2px solid #FD32A6; /* 원하는 색으로 변경 */
  }


.select-button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.select-button{ 
    width: 300px;
    height: 50px;
    padding: 12px;
    background-color: #FD32A6;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;    
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}