* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #191919;
}

.layout {
  position: relative;
}

.content-wrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.popluar-bar {
  justify-content: left;
}
